<div class="container">
    <div class="row">
        <header class="header">
            <!-- Add your header content here -->
            <nav>
                <ul>
                    <li class="nav-item"><img src="assets/logo/brand-logo-white.svg" alt="Logo">
                    <li><a routerLink="/home" routerLinkActive="active"></a></li>
                    <li><a routerLink="/about" routerLinkActive="active"></a></li>
                    <li><a routerLink="/contact" routerLinkActive="active"></a></li>
                    <!-- Add more navigation links as needed -->
                </ul>
            </nav>
        </header>
    </div>
</div>