<div class="container">

    <mat-card class="custom-card">
        <mat-card-header>
            <mat-card-title>
                <h1>Utility Burden by Type over 2 years</h1>
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <app-bar></app-bar>
        </mat-card-content>
    </mat-card>

    <mat-card class="custom-card">
        <mat-card-header>
            <mat-card-title>
                <h1>Utility Burden Breakdown One Year</h1>
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <app-pie-drill></app-pie-drill>
        </mat-card-content>
    </mat-card>

    <mat-card class="custom-card">
        <mat-card-header>
            <mat-card-title>
                <h1>Energy Bill</h1>
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <app-drill-down></app-drill-down>
        </mat-card-content>
    </mat-card>

    <mat-card class="custom-card">
        <mat-card-header>
            <mat-card-title>
                <h1>Gas Bill</h1>
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <app-gas-bill></app-gas-bill>
        </mat-card-content>
    </mat-card>

    <mat-card class="custom-card">
        <mat-card-header>
            <mat-card-title>
                <h1>Water Bill</h1>
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <app-water-bill></app-water-bill>
        </mat-card-content>
    </mat-card>

    <mat-card class="custom-card">
        <mat-card-header>
            <mat-card-title>
                <h1>Energy consumption</h1>
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <app-stocks></app-stocks>
        </mat-card-content>
    </mat-card>
    <mat-card class="custom-card">
        <mat-card-header>
            <mat-card-title>
                <h1>IPM Savings</h1>
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <app-ipm-savings></app-ipm-savings>
        </mat-card-content>
    </mat-card>
</div>